# Project Stack:
- pnpm
- Nuxt 4
- NuxtUI 3
- Tailwind CSS
- Supabase

# Project Name:
- High Notes

# Project Description:
- High Notes is a note-taking app that allows users to create and manage notes in a simple way.

# Project URL:
- https://high-notes-app.windsurf.build